@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-mono: ui-monospace, SFMono-Regular, 'SF Mono', Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
}

@theme {
  --color-primary: #0aad0a;
  --color-secondary: #889397;
  --color-success: #198754;
  --color-danger: #db3030;

  --color-gray-100: #f0f3f2;
  --color-gray-200: #ecf0ef;
  --color-gray-300: #dfe2e1;
  --color-gray-400: #c1c7c6;
  --color-gray-500: #889397;
  --color-gray-600: #5c6c75;
  --color-gray-700: #3d4f58;
  --color-gray-800: #21313c;
  --color-gray-900: #001e2b;  
  
  --color-light-primary: #ceefce;
  --color-light-success: #d1e7dd;
  --color-light-danger: #f8d6d6;
  --color-light-warning: #fff3cd;
  --color-light-info: #cce1fe;

  --color-dark-primary: #044504;
  --color-dark-success: #0a3622;
  --color-dark-danger: #581313;
  --color-dark-warning: #664d03;
  --color-dark-info: #002b63;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), system-ui, -apple-system, sans-serif;

  .container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
  }

  .btn {
    @apply inline-flex items-center justify-center rounded-lg border px-4 py-2 text-center text-sm font-semibold leading-6 select-none transition-all duration-150 ease-out cursor-pointer;
    vertical-align: middle;
  }

  /* Button variants */
  .btn-primary {
    @apply bg-primary text-white border-primary;
  }
  .btn-primary:hover {
    @apply bg-[#099309];
  }

  .btn-secondary {
    @apply bg-secondary text-white border-secondary;
  }
  .btn-secondary:hover {
    @apply bg-[#747d80];
  }

  .btn-success {
    @apply bg-success text-white border-success;
  }
  .btn-success:hover {
    @apply bg-[#157347];
  }

  .btn-danger {
    @apply bg-danger text-white border-danger;
  }
  .btn-danger:hover {
    @apply bg-[#ba2929];
  }

  .btn:disabled {
    @apply opacity-50 cursor-not-allowed;
  }
}
